h1 {
    font-size: 84px;
}

p {
    font-size: 24px;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

body {
    background-color: aqua;
}

.item {
    font-size: 12px;
    color: rgb(19, 170, 5);
}

#logo {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid red;
    color: white;
}

.caja {
    background-color: lightblue;
    border: 1px solid black;
    margin: 5px;
    display: inline;
    /* display: inline-block;
    display: none; */
    width: 120px;
    height: 60px;
 ;
}

.item2 {
    /* display: inline; */
    margin-right: 15px;
    list-style: none;
}
