html{
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
}



section {

    border: 2px solid red;
}

.titulo2 {
    text-align: center;
    text-transform: uppercase;
}


.hero {
    background-image: url(assent/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;

}


.contenido-hero {
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 45px;
        margin-bottom: 0;
    }

}



.imagen2 {
    border: 2px solid yellow;
    background-color: red;


}

.imagenHero {
    width: 100%;

}

.container1 {
    width: 100%;

}

.contenedorServicios {}

.tarjetas {
    width: 200px;
    height: 300px;
    background-color: rgb(177, 177, 242);
    border-radius: 10px;
    box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding-top: 10px;

}

.tarjetaImagen {

    width: 80%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    background-image: url(assent/img/ia.jpg);
    background-size: contain;

}

.tarjetaTexto {

    h3{
        font-size: 2rem;
        text-align: center;
    }
    p{
        padding: 1rem;
        text-align: justify;
        font-size: 1rem;
    }
}